@tailwind base;
@tailwind components;
@tailwind utilities;

/* Yekan Bakh Font Face Declarations for Web */
@font-face {
  font-family: 'YekanBakhFaNum';
  src: url('./assets/fonts/yekan-bakh/woff2/YekanBakhFaNum-Thin.woff2') format('woff2'),
       url('./assets/fonts/yekan-bakh/woff/YekanBakhFaNum-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YekanBakhFaNum';
  src: url('./assets/fonts/yekan-bakh/woff2/YekanBakhFaNum-Light.woff2') format('woff2'),
       url('./assets/fonts/yekan-bakh/woff/YekanBakhFaNum-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YekanBakhFaNum';
  src: url('./assets/fonts/yekan-bakh/woff2/YekanBakhFaNum-Regular.woff2') format('woff2'),
       url('./assets/fonts/yekan-bakh/woff/YekanBakhFaNum-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YekanBakhFaNum';
  src: url('./assets/fonts/yekan-bakh/woff2/YekanBakhFaNum-SemiBold.woff2') format('woff2'),
       url('./assets/fonts/yekan-bakh/woff/YekanBakhFaNum-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YekanBakhFaNum';
  src: url('./assets/fonts/yekan-bakh/woff2/YekanBakhFaNum-Bold.woff2') format('woff2'),
       url('./assets/fonts/yekan-bakh/woff/YekanBakhFaNum-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YekanBakhFaNum';
  src: url('./assets/fonts/yekan-bakh/woff2/YekanBakhFaNum-ExtraBold.woff2') format('woff2'),
       url('./assets/fonts/yekan-bakh/woff/YekanBakhFaNum-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YekanBakhFaNum';
  src: url('./assets/fonts/yekan-bakh/woff2/YekanBakhFaNum-Black.woff2') format('woff2'),
       url('./assets/fonts/yekan-bakh/woff/YekanBakhFaNum-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YekanBakhFaNum';
  src: url('./assets/fonts/yekan-bakh/woff2/YekanBakhFaNum-ExtraBlack.woff2') format('woff2'),
       url('./assets/fonts/yekan-bakh/woff/YekanBakhFaNum-ExtraBlack.woff') format('woff');
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}
